@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

/* HEADER */
header {
    /* min-height: calc(100vh - 210px);  */
}
.header__container {
    display: flex; 
    position: relative;
}

.header__text {
    width: 75%;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-family: 'Big Shoulders Display';
    font-size: 96px;
    max-width: 450px;
}

.header__body {
    display: flex;
    max-width: 350px;
    max-height: 160px;

}

.header__description--text {
    font-family: 'Outfit';
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}

.header__img--wrapper {
    height: 100vh;
    width: 40%;
}

.header__panel {
    background-color: #151515;
    height: 100vh;
    width: 30%;
}

.header__img{
    height: 100%;
    width: 100%;
}

/* SHOWCASE */
.showcase__top {
    display: flex;
    justify-content: space-between;
}

.showcase__top--wrapper {
    height: 400px;
}

.showcase__top--img {
    height: 80%;
    width: 100%;
}

.showcase__header {
    display: flex;
    flex-direction: column;
}
.showcase__header--title{
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    line-height: 50px;
    color: #151515;
}

.showcase__header--paragraph {
    font-family: 'Outfit';
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}

.showcase__bottom {
    display: flex;
    justify-content: space-between;
}

.showcase__main--wrapper {
    width: 640px;
    height: 666px;
}

.showcase__main--img {
    height: 100%;
    width: 100%;
}

.showcase__bottom--wrapper {
    width: 300px;
    height: 370px;
}

.showcase__bottom--img {
    height: 80%;
    width: 100%;
}

.showcase__bottom--info {
    display: flex;
    flex-direction: column;
}

.showcase__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
    color: #FFFFFF;
    padding: 40px;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 446px;
}

.showcase__description--header {
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    line-height: 50px;
}

.showcase__description--paragraph {
    font-family: 'Outfit';
    font-size: 22px;
    line-height: 32px;
}

/* FOOTER */
footer {
    background-color: #151515;
    color: #FFFFFF;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__description {
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.footer__header {
    font-family: 'Big Shoulders Display';
    font-size: 36px;
    max-width: 170px;
}

.footer__body {
    font-family: 'Outfit';
    font-size: 18px;
    line-height: 28px;
    max-width: 432px;
}

.footer__links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.footer__img--wrapper {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__img {
    width: 20px;
    height: 20px;
}